.character-container {
  margin: 0 auto;
  max-width: 666px;
}

.character-profile {
  background-color: black;
  border-radius: 10px;
  color: #b49e89;
  margin: 2rem;
  padding: 0.5rem 0;
}

.character-profile h3 {
  background-color: #b49e89;
  color: black;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.character-profile ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
}

.character-profile ul > li {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
}

.character-profile ul > li span {
  font-weight: normal;
}